@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    background-color: lightblue;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.menu-head {
    padding: 34px 85px;
    background-color: white;
    display: flex;
    align-items: baseline;
}

.nav-meals {
    display: flex;
}

.nav-meal {
    margin: 0px 26px;
    font-size: 16px;
}

.menu-body{
    background-color: #e0e0e0;
    display: flex;
}

.menu-meals {
    display: flex;
}
