@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
    background-color: lightblue;
    margin: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.menu {
    background-color: orange;
    width: 1366px;
    font-family: 'Roboto', sans-serif;
}

.menu-head {
    background-color: white;
    height: 96;
    padding: 35px 85px;
}

.menu-head-content {
    margin-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-meals {
    width: 395px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.menu-body {
    background-image: url("images/white-waves.png");
    padding: 85px;
    display: flex;
}

.menu-copy {
    padding-right: 70px;
}

.copy-title {
    font-weight: bold;
    font-size: 58px;
    line-height: 50px;
}

.copy-body {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 200;
}

.copy-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18````px;
    font-weight: bold;
    margin: 10px 0px;
}

#footer-arrow {
    font-size: 25px;
}

.menu-meals {
    display: flex;
}

.menu-meal {
    margin: 0px 6px;
    width: 273px;
    height: 410px;
    overflow: hidden;
    position: relative;
}

.meal-img {
    height: 100%;
}

.meal-labels {
    position: absolute;
    width: 85%;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.label {
    padding: 15px;
}

.meal-adj {
    background-color: white;
    bottom: 60px;
}

.meal-name-rect {
    background-color: pink;
    width: 50%;
    text-align: right;
}

.meal-name {
    background-color: #8dc728;
    bottom: 0px;
}
