body {
    background-color: lightblue;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.menu-head {
    padding: 35px 85px;
    background-color: white;
}

img.logo {
    /* display block to get rid of extra empty */
    /* pixels underneath the image */
    display: block;
}

.menu-body{
    background-color: #e0e0e0;
}